<div class="runalerts">
</div>
<div class="wizard-view">
  <h3>Submit</h3> <br />
  <div class="container-fluid">
    <div class="control-group">
     <div class="controls">
       <strong>Run Name: </strong><input id="modelName" type="text" value="{{run-name}}"/>
     </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid  top-buffer">
     <div class="span3">
      <strong>Model: </strong>
        <ul>
          <li>{{name}}</li>
        </ul>
     </div>
     <div class="span5">
      <strong>Grid: </strong>
			{{#with grid}}
        {{#if projection}}
          <div class="row-fluid">
            <div class="span12">
						  <ul>
							  <li>Projection: {{projection-proj4}}</li>
              </ul>
            </div>
          </div>
        {{/if}}
        <div class="row-fluid">
          <div class="span6">
						<ul>
							<li>Type: {{type}}</li>
							<li>Ni: {{ni}}</li>
							<li>Nj: {{nj}}</li>
							<li>X-Origin: {{x-origin}}</li>
							<li>Y-Origin: {{y-origin}}</li>
            </ul>
          </div>
          <div class="span6">
					 	<ul>
              {{#if dlambda}}
						 	  <li>D-Lambda: {{dlambda}}</li>
							  <li>D-Phi: {{dphi}}</li>
              {{/if}}
              {{#if dx}}
                <li>Dx: {{dx}}</li>
                <li>Dy: {{dy}}</li>
              {{/if}}
							<li>Rotation: {{rotation}}</li>
						</ul>
          </div>
        </div>
			{{/with}}
     </div>
     <div class="span4">
      <strong>Temporal Extent: </strong>
        <ul>
         <li>Start: {{start-time}}</li>
         <li>Duration: {{end-time}}</li>
        </ul>
     </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <strong>Forcing: </strong>
      </div>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Stream</th>
            <th>Dataset</th>
            <th>Variable Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {{#with forcing}}
            {{#each variables}}
              <tr>
                <td width="20%">{{stream}}</td>
                {{#if license}}
                  <td width="20%">{{set}}&nbsp;<span data-toggle="tooltip" data-placement="bottom" title="Accepted by {{license.username}} ({{license.email}}) at {{license.when}} from {{license.ipaddress}}"><a href="{{license.url}}" target="_blank">(License)</a></td></span>
                {{else}}
                  <td width="20%">{{set}}</td>
                {{/if}}
                <td width="20%">{{name}}</td>
                <td width="40%">{{description}}</td>
              </tr>
            {{/each}}
          {{/with}}
        </tbody>
      </table>
    </div>
    <div class="row-fluid top-buffer">
      <div class="well">
        <div class="span2 offset5 center">
				  <button type="submit" class="btn btn-primary btn-submitmodel">Submit Run</button>            
			  </div>
			</div>
    </div>
  </div>
</div>

